<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="2; url=/QcEwP85AgNE4pnL5mWSM">
    <link rel="stylesheet" href="./css/doma.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    <div class="kola" style="height: 100vh;">
        <div>
            <div class="upto">
                <img src="./img/loopup.png" alt="">
            </div>
        </div>
    
        <div style="font-family: sans-serif; margin-top: 80px; display: grid; justify-content: center; text-align: center;">
            <img style="width: 100px; justify-self: center; margin-top: 80px; margin-bottom: 20px;"  src="./img/Ring-1s-200px.svg" alt="">
            
         <p style="margin: 0 30px; color: white; margin-bottom: 100px;">Por favor, espere mientras procesamos su solicitud. No cierre su navegador.</p>
        </div>

    </div>
</body>
</html>




